{% extends "base.html" %}

{% block main %}
<div class="container-fluid">
    <h1> Witaj użytkowniku {{user.login}}</h1>
    
    {% if user %}
        <!-- <p>Twoje dane:</p>
        <ul>
            <li><strong>Login:</strong> {{ user.login }}</li>
            <li><strong>Email:</strong> {{ user.email }}</li>
            <li><strong>Salt hasła:</strong> {{ user.salt }}</li>
        </ul> -->
    
        <a href="{{ url_for('delete_account')}}">Usuń Konto</a>
        <br>
        <a href="{{ url_for('change_credentials')}}">Zmień login lub email lub hasło</a>
        <!-- Link do strony z wszystkimi zadaniami (?) -->
    {% else %}
        <p> Nie ma żadnych informacji, prawdopodobnie coś poszło nie tak.</p>
    {% endif %}

    <div class="row">
        {% if user.is_teacher == 0 %}
        <div class="col">
            <div class="container mt-5">
                <h2>Uczeń</h2>
                    <!-- Nie wiem czy w takiej formie ale zostawiam by pamiętać od czego zacząć-->
                    <div class="list-group">
                        {% for course in courses %}
                        <a href="" class="list-group-item list-group-item-action">
                        <h5 class="mb-1">{{ course.name }}</h5>
                        <p class="mb-1">Description: {{ course.description }}</p>
                        </a>
                         {% endfor %}
                    </div>
             </div>

        </div>
<!-- Najlepiej to wgl najpierw sprawdzić czy użytkownik jest gdziekolwiek nauczycielem -->
<!-- Jeśli nie to druga belka mogła by być z zadaniami które ma do oddania -->
        {% else %}
            <div class="col">
                <div class="container mt-5">
                    <h2>Nauczyciel</h2>
                    <a href="{{ url_for('create_course')}}">Stwórz Kurs</a>
                    <div class="list-group">
                        {% for course in courses %}
                    <!-- Tu powinien być warunek jakiś typu if teacher_id = user_id czy coś nie wiem -->
                            <a href="" class="list-group-item list-group-item-action">
                            <h5 class="mb-1">{{ course.name }}</h5>
                    <!-- A tu odnośnik do add_task (które też trzeba stworzyć)-->
                    <!-- <p class="mb-1">Instructor: {{ course.instructor }}</p> -->
                         </a>
                    {% endfor %}
                    </div>
             </div>
         </div>
        {% endif %}
    </div>
</div>
{% endblock %}