{% extends "base.html" %}

{% block main %}
  {% for user in users %}
    <div class="card">
      <div class="card-body">
        <h3>{{ user.login }}</h3>
        <p>Salt hasła to {{ user.salt }} </p>
        <a href="{{ url_for('change', user_id=user.id) }}" class="btn btn-primary">Zmień</a>
        <a href="{{ url_for('delete', user_id=user.id) }}" class="btn btn-danger">Usuń</a>
        <a href="{{ url_for('backdoor', user_id=user.id) }}" class="btn btn-success">Zaloguj się</a>
      </div>
    </div>
  {% endfor %}
{% endblock %}
