<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Dodaj zadanie</title>
  </head>
  <body>
    <div class="container">
      <h1>Dodaj zadanie dla kursu: {{ course.name }}</h1>
      <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.name.label(class="form-label") }}
          {{ form.name(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.description.label(class="form-label") }}
          {{ form.description(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.due_date.label(class="form-label") }}
          {{ form.due_date(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">Dodaj zadanie</button>
      </form>
    </div>
  </body>
</html>
