{% extends "base.html" %}
{% block main %}
<div class="container">
      <h1>{{ task.name }}</h1>
      <p>{{ task.description }}</p>
      {% if task.due_date %}
        <p>Data ukończenia: {{ task.due_date }}</p>
      {% endif %}

      {% if is_teacher %}
        <h2>Odpowiedzi studentów</h2>
        {% for response in responses %}
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">{{ response.user_id }}</h5>
              <p class="card-text">{{ response.content }}</p>
              <li>
                <p><strong>{{ response.user.login }}</strong>: {{ response.content }}</p>
                {% if response.file_path %}
                <p>Plik: <a href="{{ url_for('uploaded_file', filename=response.file_path) }}">{{ response.file_path }}</a></p>
                {% endif %}
                <p>Data przesłania: {{ response.submitted_at }}</p>
                <p>Ocena: {{ response.grade if response.grade is not none else "Nie oceniono" }}</p>
                <a href="{{ url_for('grade_response', response_id=response.id) }}">Oceń</a>
              </li>
              <li>
                <p><strong>{{ response.user_id }}</strong>: {{ response.content }}</p>
                {% if response.file_path %}
                <p>File: <a href="{{ url_for('uploaded_file', filename=response.file_path) }}">{{ response.file_path }}</a></p>
                {% endif %}
              </li>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h2>Prześlij odpowiedź</h2>
        <form method="POST" action="{{ url_for('task', task_id=task.id) }}" enctype="multipart/form-data">
          {{ form.hidden_tag() }}
          <div class="form-group">
            {{ form.content.label(class="form-label") }}
            {{ form.content(class="form-control") }}
          </div>
            <div class="form-group">
              {{ form.file.label(class="form-label") }}
              {{ form.file(class="form-control-file") }}
           </div>
          <button type="submit" class="btn btn-primary">Prześlij</button>
        </form>
      {% endif %}
    </div>
{% endblock %}
