{% extends "base.html" %}
{% block main %}
<div class="container">
      <h1>{{ task.name }}</h1>
      <p>{{ task.description }}</p>
      {% if task.due_date %}
        <p>Data ukończenia: {{ task.due_date }}</p>
      {% endif %}

      {% if is_teacher %}
        <h2>Odpowiedzi studentów</h2>
        {% for response in responses %}
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">{{ response.user }}</h5>
              <p class="card-text">{{ response.content }}</p>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h2>Prześlij odpowiedź</h2>
        <form method="POST" action="{{ url_for('task', task_id=task.id) }}" enctype="multipart/form-data">
          {{ form.hidden_tag() }}
          <div class="form-group">
            {{ form.content.label(class="form-label") }}
            {{ form.content(class="form-control") }}
          </div>
            <div class="form-group">
              {{ form.file.label(class="form-label") }}
              {{ form.file(class="form-control-file") }}
           </div>
          <button type="submit" class="btn btn-primary">Prześlij</button>
        </form>
      {% endif %}
    </div>
{% endblock %}
