{% extends "base.html" %}

{% block main %}
<div class="container">
    <h1>{{ task.name }}</h1>
    <p>{{ task.description }}</p>
    Zadanie otworzy się
    <!-- Można jakoś sprawdzać czy większe od dzisiejszej daty jeśli tak to nie wyświetać ---> 
    <p>{{task.start_date}} </p>
    <!-- Wyświetlać na czerwono gdy 24h do końca --->
    Termin upływa  
    <p>{{task.finish_date }}</p>
    Liczba Punktów do zdobycia
    <p>{{task.max_points }}</p>
    <!-- No i na koniec to albo odnośnik albo od razu tu ocenę jeśli jest -->
  </div>
{% endblock %}